@tailwind base;
@tailwind components;
@tailwind utilities;

/* React Calendar */
.react-calendar__navigation {
  display: flex;
  justify-content: space-between;
}

.react-calendar__navigation__arrow {
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0.5rem;
}

.react-calendar__tile:hover,
button.react-calendar__tile--active,
.react-calendar__navigation__arrow:hover {
  background-color: rgb(30 64 175);
  color: #fff;
}

button.react-calendar__tile--now {
  background-color: #348575;
  color: #fff;
}

button.react-calendar__tile:disabled,
button.react-calendar__navigation__arrow:disabled {
  color: #ccc;
}

react-calendar__tile--now:hover {
  background-color: rgba(30 64 175, 0.7);
}

.react-calendar__navigation__label {
  font-size: 1.1rem;
  font-weight: 600;
}

.dark button.react-calendar__tile:disabled,
.dark button.react-calendar__navigation__arrow:disabled {
  color: #666;
}

#journal-entries::-webkit-scrollbar {
  display: none;
}