@tailwind base;
@tailwind components;
@tailwind utilities;

/* React Calendar */
.react-calendar__navigation {
  display: flex;
  justify-content: space-between;
}

.react-calendar__navigation__arrow {
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0.5rem;
}

.react-calendar__tile:hover,
button.react-calendar__tile--active,
.react-calendar__navigation__arrow:hover {
  background-color: rgb(30 64 175);
  color: #fff;
}

button.react-calendar__tile--now {
  background-color: #348575;
  color: #fff;
}

button.react-calendar__tile:disabled,
button.react-calendar__navigation__arrow:disabled {
  color: #ccc;
}

react-calendar__tile--now:hover {
  background-color: rgba(30 64 175, 0.7);
}

.react-calendar__navigation__label {
  font-size: 1.1rem;
  font-weight: 600;
}

.dark button.react-calendar__tile:disabled,
.dark button.react-calendar__navigation__arrow:disabled {
  color: #666;
}

/* Water */
@keyframes moveWater {
  0% {
    translate: (0, 0);
    background-position: 0 0;
  }
  50% {
    background-position: 40% 10%;
  }
}

@keyframes moveWater2 {
  0% {
    translate: (0, 0);
    background-position: 0 0;
  }
  50% {
    background-position: 30% 10%;
  }
}

@keyframes moveWater3 {
  0% {
    translate: (0, 0);
    background-position: 0 0;
  }
  50% {
    background-position: 50% 5%;
  }
}

#wave-1 {
  animation: 3s moveWater 0 infinite;
  background: url(../public/wave.svg) no-repeat;
  background-size: cover;
  height: 20px;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 102;
}

#wave-2 {
  animation: 3s moveWater2 infinite;
  background: url(../public/wave-1.svg) no-repeat;
  background-size: cover;
  height: 20px;
  width: 100%;
  position: absolute;
  z-index: 101;
}

#wave-3 {
  animation: 3s moveWater3 1.75s infinite;
  background: url(../public/wave-2.svg) no-repeat;
  background-size: cover;
  height: 20px;
  width: 100%;
  position: absolute;
  z-index: 100;
}
